/* src/components/Chatbot/style.css */

/* Chatbot Container */
.chatbot-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  z-index: 1001;
}

/* Header Section */
.chatbot-header {
  background-color: #09b4f2;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-header h3 {
  margin: 0;
}

.close-chat {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Messages Section */
.chatbot-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

/* Individual Chat Messages */
.chat-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.chat-message.user {
  background-color: #f1f1f1;
  align-self: flex-end;
}

.chat-message.bot {
  background-color: #08a3eb;
  color: rgb(226, 236, 248);
}

/* Input Section */
.chatbot-input {
  display: flex;
}

.chatbot-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}

.chatbot-input button {
  padding: 10px;
  background-color: #09b4f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-input button:hover {
  background-color: #007bb5;
}

/* Chatbot Icon */
.chatbot-icon {
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}

.chatbot-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
.footer {
  padding: 20px;
  text-align: center;
}

/* Media Queries for Responsiveness */

/* Mobile Screens */
@media (max-width: 480px) {
  .chatbot-container {
    width: 80%;
    bottom: 20px;
    right: 10px;
  }

  .chatbot-header h3 {
    font-size: 1rem;
  }

  .chatbot-input input {
    font-size: 0.9rem;
  }

  .chatbot-input button {
    font-size: 0.9rem;
  }

  .chat-message p {
    font-size: 0.9rem;
  }
}

/* Tablet Screens */
@media (max-width: 768px) {
  .chatbot-container {
    width: 70%;
    bottom: 30px;
  }

  .chatbot-header h3 {
    font-size: 1.2rem;
  }

  .chatbot-input input {
    font-size: 1rem;
  }

  .chatbot-input button {
    font-size: 1rem;
  }

  .chat-message p {
    font-size: 1rem;
  }
}

/* Desktop Screens */
@media (min-width: 1024px) {
  .chatbot-container {
    width: 300px;
    bottom: 30px;
    right: 30px;
  }

  .chatbot-header h3 {
    font-size: 1.2rem;
  }

  .chatbot-input input {
    font-size: 1rem;
  }

  .chatbot-input button {
    font-size: 1rem;
  }

  .chat-message p {
    font-size: 1rem;
  }
}
